# pdf, over 100MB, 无法上传到github
Linux网络编程_清华大学出版社_2010.pdf
Linux多线程服务端编程_使用muduoC++网络库.pdf
云原生分布式存储基石.etcd深入解析.pdf
Java语言程序设计-基础篇(原书第10版).pdf
深入理解计算机系统（原书第三版）.pdf

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# mac
*.DS_Store
